@import "reset";

:root {
  --blood: #e7473c;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
}

header {
  background-color: #f0eff0;
  width: 33%;
  height: 100%;
}

.title {
  margin: 0;
  padding-top: 70px;
  padding-left: 70px;
  font-size: 70px;
  display: block;
  width: 60%;
  color: var(--blood);
  margin-bottom: 200px;
  line-height: 80px;
}

.main-text,
.sub-text {
  padding-left: 70px;
  font-size: 23px;
  color: var(--blood);
  width: 60%;
  font-weight: 500;
}

.main-text {
  margin: 25px 0px;
  font-size: 15px;
}

.goto {
  padding-left: 70px;
  list-style: none;
  width: 70%;
}

.goto a {
  margin-right: 7px;
  color: grey;
}

main {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 66%;
  height: 100%;
  background-color: var(--blood);
  align-items: center;
}

.movie-info {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 120px;
}
.movie-title {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.director {
  font-size: 7px;
  font-weight: 500;
  color: white;
}

.goodOrBad {
  display: flex;
  margin-left: 640px;
}

.goodOrBad > span {
  margin: 20px 5px;
  color: white;
}
.good,
.bad {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 10px;
  color: white;
}

i + span {
  margin-top: 5px;
}
